<!--View for displaying all categories (this is the root path)-->
<h1 align="center">Select a Category:</h1>
<% @categories.each do |category|%>
  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
      <div class='well well-lg'>
        <div class='category-title'>
          <%= link_to category.category, category_path(category) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
