<div class='row'>
  <div align="center">
    <h3>Import Data from CSV:</h3>
  </div>
    <div class='col-xs-8 col-xs-offset-2'>
      <div class='well well-lg'>
          <%= form_tag import_categories_path, multipart: true do %>
            <%= file_field_tag :file %><br>
            <%= submit_tag "Import CSV" %>
          <% end %>
          <br>
          <%= flash[:notice] %>
      </div>
    </div>
  </div>



